*{
	background-repeat: no-repeat;
}
/*single-action-btn样式*/
.single-action-container{
	.single-action-btn{ background-size: contain;background-position: center right}
	/*腿部*/
	.leg-single-action{
		.launcher{ background-image: url("../images/icon_launcher_nor@2x.png") }
		.launcher:active{ background-image: url("../images/icon_launcher_cli@2x.png") }
		
		.order-leg{ 
			background-image: url("../images/icon_order_normal_nor@2x.png");
			.prompt{
				background-image: url("../images/Converse-Sequence@2x.png");
				background-size: contain;
				background-position: center left;
				left: 110%;
			}
		}
		.order-leg.active:active,.order-leg:active{ background-image: url("../images/icon_order_cil@2x.png")}
		.order-leg.active{ background-image: url("../images/icon_order_back_nor@2x.png")}


		.rotate{ 
			background-image: url("../images/icon_rotate_nor@2x.png");
			.prompt{
				background-image: url("../images/Rotate-Orientation-@2x.png");
				background-size: contain;
				background-position: center left;
				left: 110%;
				top: pxToRem(56px);
			}
		}
		.rotate:active{ background-image: url("../images/icon_rotate_cli@2x.png")}

		.rotate-back{ background-image: url("../images/icon_rotate_back_nor@2x.png")}
		.rotate-back:active{ background-image: url("../images/icon_rotate_back_cli@2x.png")}

		.kichiku{ 
			background-image: url("../images/icon_kichiku_nor@2x.png");
			.prompt{
				width: pxToRem(190px);
				background-image: url("../images/Mad-Mode@2x.png");
				background-size: contain;
				background-position: center left;
				left: 110%;
			}
		}
		.kichiku.active{ background-image: url("../images/icon_kichiku_sel@2x.png") }
	}

	.leg-single-action.disable{
		.order-leg{ background-image: url("../images/icon_order_dis@2x.png")}
		.rotate{ background-image: url("../images/icon_rotate_dis@2x.png")}
		.kichiku{ background-image: url("../images/icon_kichiku_dis@2x.png") }
		.rotate-back{ background-image: url("../images/icon_rotate_back_dis@2x.png")}
	}

	.leg-single-action.show-out{
		.single-action-btn{
			.prompt{
				display:block;
			}
		}
	}


	.leg-single-action.disable.show-out{
		.order-leg{ background-image: url("../images/icon_order_normal_nor@2x.png")}
		.rotate{ background-image: url("../images/icon_rotate_nor@2x.png")}
		.kichiku{ background-image: url("../images/icon_kichiku_nor@2x.png") }
		.rotate-back{ background-image: url("../images/icon_rotate_back_nor@2x.png")}
		.single-action-btn{
			.prompt{
				display:block;
			}
		}
	}

	/*头部*/
	.head-single-action{
		.order-head{ background-image: url("../images/icon_order_normal_nor@2x.png")}
		.order-head.active:active,.order-head:active{ background-image: url("../images/icon_order_cil@2x.png")}
		.order-head.active{ background-image: url("../images/icon_order_back_nor@2x.png")}
	}
	.head-single-action.disable{
		.order-head{ background-image: url("../images/icon_order_dis@2x.png")}
	}

}


/*action-btn样式*/
.action-btn{
	background-size: contain;
	color: #dee3df;
}
.leg-action-btn{
	.action-btn{
		background-image: url("../images/btn_dance_nor@2x.png");
		.prompt{
			width: pxToRem(142px);
			background-image: url("../images/Leg-Motion@2x.png");
			background-size: contain;
			background-position: center center;
			top: pxToRem(130px);
		}
	}
	.action-btn.show-out{
		.prompt{
			display:block;
		}
	}
	.action-btn.active{
		color: #fff;
		font-size: bold;
		background-image: url("../images/btn_dance_sel@2x.png");
	}
}
.leg-action-btn.show-out{
	.action-btn:nth-child(5){
		z-index:5;
		.prompt{
			display:block;
		}
	}
}

.head-action-btn{
	.action-btn{
		background-image: url("../images/btn_head_nor@2x.png");
		.prompt{
			width: pxToRem(142px);
			background-image: url("../images/Head-Motion@2x.png");
			background-size: contain;
			background-position: center center;
			top: pxToRem(-76px);
		}
	}
	.action-btn.active{
		color: #fff;
		font-size: bold;
		background-image: url("../images/btn_head_sel@2x.png");
	}
}

.head-action-btn.show-out{
	.action-btn:nth-child(5){
		z-index:5;
		.prompt{
			display:block;
		}
	}
}


/*range样式*/
.help,.track,.thumb,.reset-btn{
	background-size: contain;
}
.range-container{
	.help{
		background-image: url("../images/icon_help_nor@2x.png");
	}
	.help.active{
		background-image: url("../images/icon_help_sel@2x.png");
	}
	.track{
		background-image: url("../images/speed_bar.png");
		.thumb{
			background-image: url("../images/btn_speed.png");
			.prompt{
				width: pxToRem(200px);
				background-size: contain;
				background-position: center center;
				left: pxToRem(-190px);
				background-image: url("../images/Speed-Controller@2x.png");
			}
		}
		.thumb:active{
			background-image: url("../images/btn_speed_pre.png");
		}
	}
	.track{
		.thumb.show-out{
			z-index: 5;
			.prompt{
				display: block;
			}
		}
	}
}

/*reset-btn样式*/
.reset-container{ 
	.reset-btn{
		background-image: url("../images/icon_reset_nor@2x.png");
		.prompt{
			width: pxToRem(152px);
			background-image: url("../images/Reset-All@2x.png");
			background-size: contain;
			background-position: center center;
			left: pxToRem(-152px);
		}
	}
	.reset-btn:active{background-image: url("../images/icon_reset_cli@2x.png")}
	.reset-btn.show-out{
		background-image: url("../images/icon_reset_nor@2x.png")!important;
		.prompt{
			display: block;	
		}
	}
}
.reset-container.disable{ 
	.reset-btn{background-image: url("../images/icon_reset_dis@2x.png")}
}





